@font-face
  font-family: 'music-icon'
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/iconfont.woff2') format('woff2'),
      url('../fonts/iconfont.woff') format('woff'),
      url('../fonts/iconfont.ttf') format('truetype'),
      url('../fonts/iconfont.svg#iconfont') format('svg');
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'music-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-ok:before
  content: "\e7fc"

.icon-close:before
  content: "\e7fd"

.icon-add:before
  content: "\e781"

.icon-play-mini:before
  content: "\e61c"

.icon-playlist:before
  content: "\e696"

.icon-music:before
  content: "\e642"

.icon-search:before
  content: "\e64d"

.icon-clear:before
  content: "\e62b"

.icon-delete:before
  content: "\e780"

.icon-favorite:before
  content: "\e849"

.icon-not-favorite:before
  content: "\e7df"

.icon-pause:before
  content: "\e64a"

.icon-play:before
  content: "\e647"

.icon-prev:before
  content: "\e649"

.icon-loop:before
  content: "\e64b"

.icon-sequence:before
  content: "\e64c"

.icon-random:before
  content: "\e64e"

.icon-back:before
  content: "\e7eb"

.icon-mine:before
  content: "\e7ae"

.icon-next:before
  content: "\e648"

.icon-dismiss:before
  content: "\e651"

.icon-pause-mini:before
  content: "\e61d"
