// 颜色定义规范
$color-background = #F5F5F5
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #FFFFFF
$color-dialog-background = #FFFAFA
$color-theme = #1E90FF
$color-theme-d = #87CEFA
$color-sub-theme = #d93f30
$color-text = 	#000000
$color-text-d = #696969
$color-text-l = #808080
$color-text-ll = 	#A9A9A9

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px